<%= form_for(account_entry) do |f| %>
  <% if account_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_entry.errors.count, "error") %> prohibited this account_entry from being saved:</h2>

      <ul>
      <% account_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %>:
    <%= f.hidden_field :account_id %>
    <%= @account_entry.account.name%>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, "class" => 'datepicker' %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <%= f.hidden_field :balance %>
  
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(function() {
  $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      showButtonPanel: true,  //show today and done buttons - done button is actually close or cancel
      closeText : "Cancel",
      changeMonth: true,
      changeYear: true,
      yearRange: "c-100:c+100"    //c=currently selected year; you can also hard code it: "2005:2015" 
      //showOtherMonths: true,  //show days in the months before and after
      //selectOtherMonths: true //allow selecting days in the months before and after
  });
});
</script>

