<p id="notice"><%= notice %></p>

<h1>Account Entries</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Balance</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_entries.each do |account_entry| %>
      <tr>
        <td><%= account_entry.account %></td>
        <td><%= account_entry.date %></td>
        <td><%= account_entry.amount %></td>
        <td><%= account_entry.balance %></td>
        <td><%= account_entry.description %></td>
        <td><%= link_to 'Show', account_entry %></td>
        <td><%= link_to 'Edit', edit_account_entry_path(account_entry) %></td>
        <td><%= link_to 'Destroy', account_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Entry', new_account_entry_path %>
