<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @account_entry.account %>
</p>

<p>
  <strong>Date:</strong>
  <%= @account_entry.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @account_entry.amount %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account_entry.balance %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account_entry.description %>
</p>

<%= link_to 'Edit', edit_account_entry_path(@account_entry) %> |
<%= link_to 'Back', account_entries_path %>
