
<% if user_signed_in? %>
          <%#= link_to 'Employees', employees_path %><br>
<% else %>
  <% content_for :top_content do %>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>Sign up to get started.</p>
        <p>
          <!--##this goes to merged login/registration page-->
          <%#= link_to 'Sign Up', new_user_session_path, class: 'btn btn-primary btn-lg'  %>
          <!--#this goes to registration page-->
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>

