<p>
  <strong>Name:</strong>
  <%= @setting.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @setting.value %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @setting.kind %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
