<%= will_paginate @account_entries, :params => {:controller => 'accounts', :action => 'show'}, class:"pagination account_participating_entries_pagination" %>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>In</th>
      <th>Out</th>
      <th>Balance</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_entries.each do |account_entry| %>
      <tr>
        <td><%= account_entry.date.to_formatted_s(:pretty) %></td>
        <td><%= number_with_delimiter(account_entry.amount, :delimiter => ',') if account_entry.amount>=0%></td>
        <td><%= number_with_delimiter(account_entry.amount, :delimiter => ',') if account_entry.amount<0%></td>
        <td><%= account_entry.balance %></td>
        <td><%= account_entry.description %></td>
        <td><%= link_to 'Edit', edit_account_entry_path(account_entry) %></td>
        <td><%= link_to 'Destroy', account_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @account_entries, :params => {:controller => 'accounts', :action => 'show'}, class:"pagination account_participating_entries_pagination" %>

<script>
$("div.account_participating_entries_pagination").find("a").click(function (e) 
{
  e.preventDefault();
  $.ajax({
    url: $(this).attr("href").replace('?', '/participating_entries?'), 
    success: function(result){
	    $("#entries").html(result);
    }})

});
</script>
