<h1>Account Search</h1>

<table>
<tr>
	<td>Name</td>
	<td>Description</td>
</tr>
<% @accounts.each do |p|%>
  <tr valign=top>
	  <td><%=link_to(p.name, account_path(p)) %></td>
	  <td><%=p.description %></td>
	  <td><%=link_to("Edit", edit_account_path(p)) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @accounts, :params => {:controller => 'accounts', :action => 'search'} %>

<hr>


