<!--
<p id="notice"><%= notice %></p>
-->

<h2>Account: <%= @account.name %></h2>

<%= @account.description %>

<p>
  <strong>Balance:</strong>
  <%= number_with_delimiter(@account.balance, :delimiter => ',') %>
</p>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %> |
<%= link_to 'Recalculate', recalc_account_path, method:"post" %> |

<hr>
<h3>New Account Entry</h3>

<% account_entry=@account_entry%>
<%= form_for(account_entry) do |f| %>
  <% if account_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_entry.errors.count, "error") %> prohibited this account_entry from being saved:</h2>

      <ul>
      <% account_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :account_id %>
  <table>
    <tr>
      <td><%= f.label :date %></td>
      <td><%= f.label :amount %></td>
      <td><%= f.label :description %></td>
      <td></td>
    </tr>
    <tr>
      <td><%= f.text_field :date, "class" => 'datepicker' %> </td>
      <td><%= f.text_field :amount %></td>
      <td><%= f.text_field :description %></td>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>

<hr>
<h3>Account Entries</h3>
<div id=products>
<%= render 'account_entries' %>
</div>

<script>
$(function() {
  $('.datepicker').datepicker({
      dateFormat: 'yy-mm-dd',
      showButtonPanel: true,  //show today and done buttons - done button is actually close or cancel
      closeText : "Cancel",
      changeMonth: true,
      changeYear: true,
      yearRange: "c-100:c+100"    //c=currently selected year; you can also hard code it: "2005:2015" 
      //showOtherMonths: true,  //show days in the months before and after
      //selectOtherMonths: true //allow selecting days in the months before and after
  });
});
</script>

